body {
  background-color: #2e4057;
  color: #E8DAB2;
}

.navbar-right {
  margin-right: 25px;
}

.navbar {
  background-color: #E8DAB2;
}

nav li {
  font-size: 1.5rem;
}

input {
  color: black;
}

.container p {
  font-size: 2rem;
}

.list-group-item {
  background-color: #818AA3;
}

a.list-group-item {
  /* color: white */
}