body {
  background-color: #2e4057;
  color: #E8DAB2;
}

h2 {
  font-size: 3rem;
  margin: 2rem;
}

.navbar-right {
  margin-right: 25px;
}

.navbar {
  background-color: #818AA3;
  color: #E8DAB2;
}

.navbar a.navbar-brand, .navbar-default .navbar-nav>li>a {
  color: #E8DAB2;

}

nav li {
  font-size: 1.5rem;
  
}

input {
  color: black;
}

.container p {
  font-size: 2rem;
}

.container {
  text-align: center;
}

.list-group-item {
  background-color: #818AA3;
}

.list-group {
  width: 40%;
  text-align: center;
  margin: 0 auto;
}