

<div class='container'>
  <% if flash[:message] %>
    <span class="alert alert-danger" role="alert"><%= flash[:message] %></span>
    <br><br>
  <% end %>


  <h2>All Recipes</h2>
  <div class='list-group'>
    <%Recipe.all.each do |recipe|%>
      <a class='list-group-item' href='/recipes/<%=recipe.slug%>'><%=recipe.name%></a>
    <%end%>
    <a href='/recipes/new' class='btn btn-default'>Create New Recipe</a>
  </div>
</div>


