


<div class='container'>
  <h2>Create a new recipe</h2>
  <form method='POST' action='/recipes/new'>
    <label for='name'>Name of your recipe</label>
    <input type='text' name='name'><br>
    <p>Choose from existing groceries:</p>
    <%Grocery.all.each do |grocery|%>
      <input type="hidden" name="groceries[][grocery_id]" value="0" /> <!-- forces a default value/ keeps params hash intact -->
      <input type='checkbox' id='<%=grocery.id%>' value='<%=grocery.id%>'  name='groceries[][grocery_id]'>
      <label for='<%=grocery.id%>'><%=grocery.name%></label>
      Quantity:
      <input type='number' name='groceries[][quantity]'><br> 
    <%end%>
    <br>
    <input type='submit' value='Create Recipe' class='btn btn-default'>
  </form>
</div>


