<div class='container'>
  <h2>All Users</h2>
  <div class='list-group'>
    <%User.all.each do |user|%>
      <a class='list-group-item' href='/users/<%=user.username%>'><%=user.name%></a>
    <%end%>
  </div>
</div>