<div class='container'>
  <% if flash[:message] %>
    <span class="alert alert-danger" role="alert"><%= flash[:message] %></span>
    <br><br>
  <% end %>

  <h3>Log in</h3>
  <form method='POST' action='login'>
    <label for='username'>Username:</label>
    <input type='text' name='username'><br>
    <label for='password'>Password:</label>
    <input type='password' name='password'>
    <br>
    <input type='submit' value='Log In' class='btn btn-default'>
    <a href='/users/new' class='btn btn-default'>Create a new account</a>
  </form>
</div>

