<%=erb :'/partials/header'%>


<div class='container'>
  <% if flash.has?(:message) %>
    <span class="alert alert-danger" role="alert"><%= flash[:message] %></span>
  <% end %>

  <h3>Log in</h3>
  <form method='POST' action='login'>
    <label for='username'>Username:</label>
    <input type='text' name='username'><br>
    <label for='password'>Password:</label>
    <input type='password' name='password'>
    <input type='submit' value='Log In' class='btn-default'>
  </form>
  <a href='/users/new'>Create a new account</a>
</div>

<%=erb :'partials/footer'%>