



<div class='container'>

  <% if flash[:message] %>
    <span class="alert alert-danger" role="alert"><%= flash[:message] %></span>
  <% end %>

  <form method='POST' action='/users/new'>
    <label for='name'>Enter your name:</label>
    <input type='text' name='user[name]'><br>
    <label for='username'>Enter your username:</label>
    <input type='text' name='user[username]'><br>
    <label for='email'>Enter your email:</label>
    <input type='email' name='user[email]'><br>
    <label for='password'>Enter your password:</label>
    <input type='password' name='user[password]'><br>
    <input type='submit' value='submit' class='btn-default'>
  </form>
</div>

