
<div class='container'>
  <h2>All Groceries:</h2>

  <% if flash.has?(:message) %>
    <span class="alert alert-danger" role="alert"><%= flash[:message] %></span>
  <% end %>

  <%Grocery.all.each do |grocery|%>
    <ul>
      <li><a href='/groceries/<%=grocery.slug%>'><%=grocery.name%></a></li>
    </ul>
  <%end%>
</div>
