<h2>All Groceries:</h2>

<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<%Grocery.all.each do |grocery|%>
  <ul>
    <li><a href='<%=grocery.name%>'><%=grocery.name%></a></li>
  </ul>
<%end%>