<h2>Add a new grocery:</h2>
<form method='POST' action='/groceries/new'>
<label for='grocery[name]'>Name:</label>
<input name='grocery[name]' type='text'>
<label for='price'>Name:</label>
<input name='price' type='number'>
<input type='submit' value='Create Grocery'>
</form>