
<div class='container'>
  <h2>Grocery: <%=@grocery.name%></h2>
  <p>Price: $<%=@grocery.price%></p>
  <a class='btn btn-default' href='/groceries/<%=@grocery.slug%>/edit'>Edit this grocery</a>
  <a class='btn btn-default' href='/groceries/<%=@grocery.slug%>/delete'>Delete this grocery</a>
</div>

