
<div class='container'>
  <% if flash[:message] %>
    <span class="alert alert-danger" role="alert"><%= flash[:message] %></span>
  <% end %>

  <%if session[:user_id]%>
    <h2>Welcome <%=@user.name%>!</h2>
  <%else%>
    <a href='/login'>Click here to log in</a>
  <%end%>

  <a href='/groceries' class='btn btn-default'>View Groceries</a>
  <a href='/recipes' class='btn btn-default'>View Recipes</a>
</div>

