<%=erb :'/partials/header'%>
<body>
<div class='container'>
  <% if flash.has?(:message) %>
    <%= flash[:message] %>
  <% end %>

  <%if session[:user_id]%>
    <h2>Welcome <%=@user.name%>!</h2>
  <%else%>
    <a href='/login'>Click here to log in</a>
  <%end%>

  <form method="POST" action='/logout'>
    <input type='submit' value='Log Out' class='button'>
  </form>
</div>

<%=erb :'partials/footer'%>