<%=erb :'/partials/header'%>

<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<%if session[:user_id]%>
  <p>Hello <%=@user.name%></p>
<%else%>
  <a href='/login'>Click here to log in</a>
<%end%>

<form method="POST" action='/logout'>
  <input type='submit' value='Log Out'>
</form>