<%if session[:user_id]%>
  <p>Hello user number <%=session[:user_id]%></p>
<%else%>
  <p>you're not logged in</p>
<%end%>

<form method="POST" action='/logout'>
  <input type='submit' value='Log Out'>
</form>